.search-container {
    margin: 1rem auto .7rem auto;
    position: relative;
    display: flex;
    max-width: 15rem;
    border-radius: 6px;
    border: 1px solid var(--color-secondary-idle);

    &__search {
        width: 100%;
        padding: 0.625rem 0.75rem;
        padding-left: 2.3rem;
        background-color: transparent;
        border-radius: 6px;
        border-style: none;
        color: var(--color-secondary-idle);
        padding-right: 6rem;
    }

    &__search:focus {
        color: var(--color-secondary-focus);
        border-style: var(--color-secondary-focus);
    }

    &__search::-webkit-search-cancel-button {
        margin-left: .3rem;
        margin-right: -.7rem;
    }

    .navigate {
        position: absolute;
        left: 0;
        top: .15rem;
        background: none;
        border: none;
        fill: var(--color-secondary-idle);
        padding: 0;
        padding: 0 .7rem;
    }

    .navigate svg {
        
        width: 1rem;
        height: 2rem;
    }

    .navigate:hover {
        transition-duration: .1s;
        cursor: pointer;
        fill: var(--color-secondary-focus);
    }

    .error {
        --alert-color: rgb(207, 38, 38);
        width: 1.25rem;
        height: 1.25rem;
        background: var(--alert-color);
        border-radius: 0.4rem;
        position: absolute;
        left: -2rem;
        top: .35rem;
    
        &__cross-mark {
            width: 0.95rem;
            height: 0.95rem;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &__cross-mark::before, &__cross-mark::after {
            content: '';
            height: 75%;
            width: 0.1875rem;
            background-color: #FFF;
            border-radius: .6rem;
            display: block;
            transform-origin: bottom;
        }
    
        &__cross-mark::before {
            transform: rotate(45deg) translateY(0.19rem) translateX(-.05rem);
        }
    
        &__cross-mark::after {
            transform: rotate(-45deg) translateY(0.19rem) translateX(.05rem);
        }

        &:hover {
            cursor: pointer;
        }

        &:hover .error__message {
            width: auto;
            width: min(10rem, 75vw);
            height: auto;
            margin-top: 2px;
            padding: .2rem .7rem;
            border-radius: 0.4rem;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            background-color: var(--alert-color);
            color: #FFF;
        }
    }

    &__submit {
        padding:  .5rem 1rem;
        position:  absolute;
        right: 0;
        border: none;
        border-radius:  3px;
        color: #FFF;
        background: #3d259e;
        font-family: 'Poppins';
    }
    
    &__submit:hover {
        cursor: pointer;
        background: #312171;
    }

    &__autocomplete {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        z-index: 9999;
    }

}

@media (min-width: 600px) {
    .search-container {

        &__submit {
            right: -6rem;
        }

        &__search {
            padding-right: .75rem;
        }

        &__search::-webkit-search-cancel-button {
            margin-right: unset;
            padding: unset;
        }
    }
}

/*

    &__submit {
        padding:  .5rem 1rem;
        position:  absolute;
        right: -6rem;
        border: none;
        border-radius:  3px;
        color: #FFF;
        background: #3d259e;
        font-family: 'Poppins';
    }
    
    &__submit:hover {
        cursor: pointer;
        background: #312171;
    }
*/