.search-container {
    position: relative;
    display: flex;
    border-radius: 70px;
    border: 1px solid var(--color-secondary-idle);

    input[type="search"] {
        padding: 0.625rem 0.75rem;
        padding-left: 2.3rem;
        background-color: transparent;
        border-radius: 70px;
        border-style: none;
        color: var(--color-secondary-idle);
    }

    input[type="search"]:focus {
        color: var(--color-secondary-focus);
        border-style: var(--color-secondary-focus);
    }

    .navigate {
        position: absolute;
        left: .75rem;
        top: 27%;
        background: none;
        border: none;
        fill: var(--color-secondary-idle);
        padding: 0;
    }

    .navigate:hover {
        transition-duration: .1s;
        cursor: pointer;
        fill: var(--color-secondary-focus);
    }

    .error {
        --alert-color: rgb(207, 38, 38);
        width: 1.25rem;
        height: 1.25rem;
        background: var(--alert-color);
        border-radius: 0.4rem;
        position: absolute;
        left: -2rem;
        top: .35rem;
    
        &__cross-mark {
            width: 0.95rem;
            height: 0.95rem;
            position: relative;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &__cross-mark::before, &__cross-mark::after {
            content: '';
            height: 75%;
            width: 0.1875rem;
            background-color: #FFF;
            border-radius: .6rem;
            display: block;
            transform-origin: bottom;
        }
    
        &__cross-mark::before {
            transform: rotate(45deg) translateY(0.19rem) translateX(-.05rem);
        }
    
        &__cross-mark::after {
            transform: rotate(-45deg) translateY(0.19rem) translateX(.05rem);
        }

        &:hover {
            cursor: pointer;
        }

        &:hover .error__message {
            width: auto;
            width: min(10rem, 75vw);
            height: auto;
            margin-top: 2px;
            padding: .2rem .7rem;
            border-radius: 0.4rem;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            background-color: var(--alert-color);
            color: #FFF;
        }
    }
    
}

