.temperature-toggle {
    text-align: center;
    color: var(--text-1);
    font-weight: 400;

    &__delimiter {
        height: 1rem;
        width: 1px;
        background-color: #FFF;
        display: inline-block;
    }

    form input[type="radio"] {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px; 
        height: 1px; 
        overflow: hidden;
        border: none;
        background: transparent;
    }
    
    form label {
        position: relative;
        font-size: 1.3rem;
        margin: 0;
        padding: 1rem;
    }

    form label:hover {
        cursor: pointer;
    }

    .checked {
        font-weight: 800;
    }

    fieldset {
        legend {
            font-size: 0.8rem;
        }
        border: 0;
    }
}