:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-secondary-idle: #D9E4FF4C;
  --color-secondary-focus: #D9E4FF;
  --color-accent: #2555FF;
  --text-1: #EFEFEF;
  --background-gradient-1: #004E7A;
  --background-gradient-2: #0085D0;
  --background-gradient-3: #86D4FF;
  color: #FFF;
}

body {
  background-color: rgb(33, 37, 41);
  margin: 0;
  min-height: 100vh;
}

.sr-only {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }