
.today {
    padding: 1rem;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;

    .wrapper {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    &__general {
        max-width: 25rem;
        flex: 1;
    }

    &__city {
        font-weight: 400;
        font-size: 2.3rem;
        line-height: 150%;
        margin: 0;
        text-align: center;
    }

    .country-code {
        font-size: 1rem;
    }

    &__timers {
        margin: 0.19rem .675rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__info-container {
        min-width: 7rem;
        text-align: center;
    }

    &__illustration {
        height: 150px;
        overflow: hidden;
    }

    &__illustration img {
        margin-top: -35px;
    }

    &__temperature {
        font-size: 4.5rem;
    }

    .wind { 
        width: 100%;
        height: 6rem;
        border-radius: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1.5rem;
        border: 2px solid #9585b1;

        &__image {
            display: none;
        }

    }
    
}

@media (min-width: 380px) {
    .today {

        &__main {
            flex-direction: row;
        }

        &__city {
            text-align: left;
        }

        &__timers {
            justify-content: flex-start;
        }

        &__info-container {
            text-align: left;
            text-align: center;
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .wind {
                
            &__image {
                display: block;
            }
    
            img {
                height: 100%;
                width: auto;
            }
        }
    }
    
}

@media (min-width: 1200px) {

    .today {
        .wrapper {
            flex-direction: row;
            column-gap: 4.5rem;
        }
    
        .wind {
            width: 15rem;
            padding: 0.3rem 1.5rem;
        }
    }
}